body {
 background: #BFC4FF;
 overflow: hidden;
}
.heading{
  margin-left: auto;
  margin-right: auto;
  background: #6BFF18;
  width: 382px;
  height: 50px;
}
.box{
  background: #EDEEFF;
  height: 300px;
  width: 200px;
  position: relative;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.box:hover {
  transition-duration: 0.1s;
  background-color: #EDEEFF;
}

.box:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.box:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.box:active {
  top: 1px;
}
.p{
  color: #000000;
  position: relative;
  top: 65px;
}
.h1{
  font-family: serif;
  text-align: center;
  position: relative;
  top: 10px;
  color: red;
}
.img-meme{
  width: 370px;
  height: 400px;
  background: white;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.img-meme-dp{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  top: 30px;
  left: 40px;
}
.edit{
  background: #FFFFFF;
  width: 370px;
  height: 150px;
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.upload{
  position: relative;
  top: 20px;
  left: 30px;
  background: #FF800E;
  padding: 5px;
}
.controls{
  position: relative;
  top: 20px;
  text-align: center;
}
.username{
  position: relative;
  top: -50px;
  left: -35px;
  text-align: center;
}
.alert{
  background: #DCF4FF;
  width: 300px;
  height: 120px;
  position: relative;
  top: 220px;
  margin-left: auto;
  margin-right: auto;
}
.alert-input{
  border-radius: 5%;
  width: 230px;
  height: 20px;
  background: #FFFFFF;
  position: relative;
  top: 30px;
  left: 30px;
  text-align: center;
}
.alert-submit{
  position: relative;
  top: 50px;
  left: 100px;
  color: #ffff;
  background-color: #1830FF;
  padding: 5px;
  border-radius: 5px;
  width: 90px;
}
.username-edit{
  position: relative;
  top: -15px;
  left: 260px;
  background: #FF800E;
  padding: 5px;
  cursor: pointer;
}
.id{
  position: relative;
  top: -60px;
  left: 110px;
  font-size: 0.8pc;
}
.id-edit{
  position: relative;
  top: 0px;
  left: 250px;
  background: #FF800E;
  padding: 5px;
  cursor: pointer;
}
.txt-line{
  position: relative;
  top: -45px;
  left: 80px;
}
.text-line-edit{
  position: relative;
  top: -38px;
  left: 40px;
  background: #FF800E;
  padding: 5px;
  cursor: pointer;
}
.img1{
  width: 350px;
  height: 240px;
  position: relative;
  top: -40px;
  left: 10px;
}
.upload2{
  position: relative;
  top: -30px;
  left: 140px;
  background: #FF800E;
  padding: 5px;
  cursor: pointer;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.download1{
  text-align: center;
  position: relative;
  top: 20px;
  left: 300px;
}
.back1{
  position: relative;
  top: 0px;
  left: 10px;
  background: #FF800E;
  padding: 5px;
  cursor: pointer;
}




